<!--ABOUT DUSK PAGE-->
{% extends 'base.html' %}

{% block content %}
    <div class="bg-light p-5 rounded-lg m-3">
        <h1>What is Dusk?</h1>
        <p>Dusk is a gamechanging platform that allows writers to become developers</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est incidunt, architecto magnam libero ut doloribus ea perspiciatis aspernatur laudantium enim ex maiores, nostrum nihil et, exercitationem quasi quibusdam inventore accusantium!</p>
    </div>
{% endblock content %}
    